/*-------------------------
   Home 
-------------------------*/

// slider-scss
.carousel-caption {
   bottom: 3rem !important;
}
.hero__title {
   font-size: var(--h3);
}
.shop-btn {
   background-color: var(--color-primary);
   border: var(--font-buton-1);
   color: white;
   font-size: var(--font-buton-1);
   padding: 15px;
   border-radius: 5px;
}
.hero__subtile {
   color: white;
   font-size: 16px;
}
/*-------------------------
   Category Section 
-------------------------*/
.categories {
   padding-top: 40px;
   padding-bottom: 40px;
}
.category-title {
   font-size: var(--h5);
   color: var(--color---h5-text-dark);
   font-weight: bold;
}
.category-item {
   list-style: none;
   border: var(--border-light);
   border-radius: 8px;
   padding: 4px 0px 0px 15px;
}
.category-text {
   font-size: var(--font-body-3);
   color: var(--color-text-dark);
}
/*-------------------------
   New Arrival Section 
-------------------------*/

.product-one-card {
   border: 1px solid #a7a7a7;
   border-radius: 15px;
   position: relative;
   &__image {
      img {
         width: 100%;
         border-radius: 15px;
      }
   }
   &__detail {
      padding-top: 15px;
   }
   &__product-title {
      @include product__title;
   }
   &__product-price {
      @include product-price;
   }
   &__label {
      width: 40px;
      display: block;
      background-color: var(--color-primary);
      height: 38px;
      position: absolute;
      border-radius: 50%;
      top: 20px;
      right: 20px;
      &-text {
         color: white;
         text-align: center;
         transform: translateY(50%);
         font-size: 12px;
      }
   }
}
/*-------------------------
  Featured Products Section 
-------------------------*/
.featured-product {
   &__left {
      border: 1px solid #a7a7a7;
      border-radius: 30px;
      position: relative;
      padding-top: 4%;
      padding-left: 70px;
      padding-right: 70px;
      padding-bottom: 4%;
   }

   &__title {
      font-size: var(--h5);
      color: var(--color-text-dark);
      font-weight: 400;
      text-align: center;
   }
   &__prices {
      text-align: center;
   }
   &__regular-price {
      @include regular-price;
   }
   &__sale-price {
      @include sale-price;
   }
   &s-image-main {
      @include image-main;
   }

   &-detail {
      padding-top: 13%;
      padding-bottom: 30px;
      padding-right: 20px;
   }

   &__top {
      border: 1px solid #a7a7a7;
      border-radius: 30px;
      &-image {
         @include image-main;
         border-radius: 30px 0px 0px 30px;
      }
      &__label {
         background-color: var(--color-primary);
         font-size: var(--font-body-3);
         width: 115px;
         padding-top: 10px;
         font-size: 14px;
         color: white;
         border-radius: 5px;
         text-align: center;
         margin-bottom: 14px;
         padding-bottom: 10px;
      }
      &__title {
         @include product__title;
         text-align: left !important;
      }
      &__regular-price {
         @include regular-price;
      }
      &__sale-price {
         @include sale-price;
      }
      &__timer__hours {
         &__num {
            color: var(--color-primary);
            font-size: var(--font-body-1);
            font-weight: 700;
            margin: 0px;
         }
         &__text {
            color: var(--color-text-dark);
            font-size: var(--font-body-3);
            font-weight: 400;
            margin: 5px;
         }
      }
      &__timer {
         &__minutes {
            border: 1px solid #a7a7a7;
            text-align: center;
            border-radius: 15px;
            padding: 8px;
            &__num {
               color: var(--color-primary);
               font-size: var(--font-body-1);
               font-weight: 700;
               margin: 0px;
            }
            &__text {
               color: var(--color-text-dark);
               font-size: var(--font-body-3);
               font-weight: 400;
               margin: 5px;
            }
         }
         &__seconds {
            border: 1px solid #a7a7a7;
            text-align: center;
            border-radius: 15px;
            padding: 8px;
            &__num {
               color: var(--color-primary);
               font-size: var(--font-body-1);
               font-weight: 700;
               margin: 0px;
            }
            &__text {
               color: var(--color-text-dark);
               font-size: var(--font-body-3);
               font-weight: 400;
               margin: 5px;
            }
         }
      }
   }
}

.timer {
   &__hours {
      border: 1px solid #a7a7a7;
      text-align: center;
      border-radius: 15px;
      padding: 8px;
      &__num {
         color: var(--color-primary);
         font-size: var(--h5);
         font-weight: 700;
      }
      &__text {
         color: var(--color-text-dark);
         font-size: var(--font-body-3);
         font-weight: 400;
         margin: 5px;
      }
   }
   &__minutes {
      border: 1px solid #a7a7a7;
      text-align: center;
      border-radius: 15px;
      padding: 8px;
      &__num {
         color: var(--color-primary);
         font-size: var(--h5);
         font-weight: 700;
      }
      &__text {
         color: var(--color-text-dark);
         font-size: var(--font-body-3);
         font-weight: 400;
         margin: 5px;
      }
   }
   &__seconds {
      border: 1px solid #a7a7a7;
      text-align: center;
      border-radius: 15px;
      padding: 8px;
      &__num {
         color: var(--color-primary);
         font-size: var(--h5);
         font-weight: 700;
      }
      &__text {
         color: var(--color-text-dark);
         font-size: var(--font-body-3);
         font-weight: 400;
         margin: 5px;
      }
   }
}

/*-------------------------
Our Collections Section 
-------------------------*/
.collection {
   position: relative;
   &__img {
      width: 100%;
   }
   &__detail {
      background-color: #fafafacc;
      width: 300px;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      &__title {
         font-size: var(--h5);
      }
      &__description {
         font-size: var(--font-body-3);
      }
   }
}

/*-------------------------
FreshSale Section 
-------------------------*/
.fresh-sale {
   &__title {
      font-size: var(--h4);
      color: var(--color---h3-text-dark);
      text-align: left;
      font-weight: 700;
      line-height: 1.5;
   }
   &__slides_dots {
      text-align: right;
   }
   &-grid {
      &__detail-item {
         background-color: #3267e3;
      }
      &-image-main {
         width: 100%;
         padding-left: 45px;
         padding-right: 45px;
         margin-top: 20px;
         margin-bottom: 20px;
      }
      &__counter__title {
         text-align: center;
      }
   }
}
.fresh-sale-gird__left {
   &__item-detail {
      background-color: var(--color-primary);
      border-radius: 30px;
      padding-top: 40px;
      padding-bottom: 28px;
   }
}
.fresh-sale-gird {
   &-counter__title {
      text-align: center;
      color: white;
      font-size: var(--h5);
   }
}
.fresh-sale-gird-counter__subtitle {
   font-size: var(--font-body-1);
   text-align: center;
   color: white;
}
.fresh-sale-gird-timer {
   &__hours {
      border: 1px solid #a7a7a7;
      text-align: center;
      border-radius: 15px;
      padding: 8px;
      &__num {
         color: white;
         font-size: var(--h5);
         font-weight: 700;
      }
      &__text {
         color: white;
         font-size: var(--font-body-3);
         font-weight: 400;
         margin: 5px;
      }
   }
   &__minutes {
      border: 1px solid #a7a7a7;
      text-align: center;
      border-radius: 15px;
      padding: 8px;
      &__num {
         color: white;
         font-size: var(--h5);
         font-weight: 700;
      }
      &__text {
         color: white;
         font-size: var(--font-body-3);
         font-weight: 400;
         margin: 5px;
      }
   }
   &__seconds {
      border: 1px solid #a7a7a7;
      text-align: center;
      border-radius: 15px;
      padding: 8px;
      &__num {
         color: white;
         font-size: var(--h5);
         font-weight: 700;
      }
      &__text {
         color: white;
         font-size: var(--font-body-3);
         font-weight: 400;
         margin: 5px;
      }
   }
}

/*-------------------------
Product Tow Section 
-------------------------*/

.product-two-card {
   @include card;
   position: relative;
   &__image {
      img {
         width: 100%;
         border-radius: 15px;
      }
   }
   &__detail {
      padding-top: 15px;
   }
   &__product__title {
      @include product__title;
   }

   &__product {
      &__prices {
         text-align: center;
      }
      &__regular-price {
         @include regular-price;
      }
      &__sale-price {
         @include sale-price;
      }
      &-price {
         @include product-price;
      }
      &__add-to-cart {
         @include primary_button;
      }
   }
   &__available {
      font-size: var(--font-body-3);
      color: var(--color-text-dark);
   }
   &__sold {
      font-size: var(--font-body-3);
      color: var(--color-text-dark);
   }

   &__label {
      width: 75px;
      display: block;
      background-color: var(--color-primary);
      height: 35px;
      position: absolute;
      border-radius: 10px;

      top: 20px;
      right: 20px;
      &-text {
         color: white;
         text-align: center;
         font-size: 12px;
         transform: translateY(8px);
      }
   }
}
.ratting {
   margin-bottom: 10px;
}

/*-------------------------
Blogone Section 
-------------------------*/
.blog-one-card {
   @include card;
   padding: 0px;
   border-radius: 22px;
   position: relative;
   &__image {
      img {
         width: 100%;
         border-radius: 15px;
      }
   }
   &__detail {
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
   }
   &__blog {
      &__title {
         @include blog__title;
      }
      &__author-detail {
         color: #a7a7a7;
         font-size: var(--font-body-3);
      }
      &__author {
         color: var(--color-primary);
      }
   }
}
/*-------------------------
CtaOne Section 
-------------------------*/

.section__cta{
   background-image: url('./../../../../public/images/cta/background\ \(1\).png');
   height: 350px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 30px;
   &__news-letter{
      transform: translate(20%,60%);
      &__title{
         font-size: var(--h4);
         color: white;
      }
      &__description{
         color: white;
      }

      &__search__btn{
         background-color: var(--color-primary);
         background-color: var(--color-primary);
         color: white;
         font-size: var(--font-body-3);
   
      }
   }
 

}