.login-form{
    &__title{
        font-size: var(--h4);
        color: var(--color---h3-text-dark);
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
    }
    &__description{
        font-size: var(--font-body-3);
        color: var(--color-light-grey);
        line-height: 1.5;
        text-align: center;
    }
    &__label{
        color: var(--color-text-dark);

    }
   &__email{
    background-color: #FAFAFA;
   }
   &__password{
    background-color: #FAFAFA;
   }
   &__remember_me{
    color: var(--color-light-grey);
   }
   &__forget-passwrd{
    color: var(--color-primary);
    font-size: var(--font-body-2);
    text-decoration: none;
    float: right;
   }
   &__login-with{
    font-size: var(--font-body-1);
    float: left;
    margin-top: 5px;
    color: var(--color-text-dark);
   }
   &__btn-signin{
    background-color: var(--color-primary);
   }
}
.signup__card{
    background-color: #fafafa;
}
.card-body{
    padding: 0px;
}
.section-signup{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
}
.section-signin{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
}

@media only screen and (max-width: 479px) {
    .section-signup{
        transform: translate(-47%, -50%);
   
    }
    .section-signin{
        transform: translate(-47%, -50%);
       
    }
}