.primary-nav-link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li{
        color: #383838;
        
    }
    &__a{
        color: #383838;
        text-decoration: none;
    }
}