.section{
    &__title{
        font-size: var(--h3);
        color: var(--color---h3-text-dark);
        text-align: center;
        font-weight: 700;
        line-height: 1.5;
    }
    &__description{
        font-size: var(--color---h3-text-dark);
        color: var(--color-light-grey);
    }
}
